*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: #f1f1f1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.about{
    background: url(https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cmVzdGF1cmFudHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80) no-repeat left;
    background-size: 57%;
    background-color: whitesmoke;
    overflow: hidden;
    padding: 100px 0;
}
.inner-section{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 140px;
    box-shadow: 10px 10px 8px rgba(0,0,0,0.3);
}


.inner-section h1{
    margin-bottom: 30px;
    font-size: 60px;
    font-weight: 900;
    
}
.text{
    font-size: 17px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}
.contactus button{
    font-size: 22px;
    text-align: center;
    letter-spacing: 1.5px;
    border: none;
    border-radius: 20px;
    padding: 10px;
    width: 200px;
    background-color: #00999c;
    color: white;
    cursor: pointer;
}
.contactus button:hover{
    transition: 0.5s;
    background-color: #ecf5f5;
    color: #00999c;
}
@media screen and (max-width:1200px){
    .inner-section{
        padding: 80px;
    }
}
@media screen and (max-width:1000px){
    .about{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-section{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about{
        padding: 0;
    }
    .inner-section{
        padding: 60px;
    }
    .skills button{
        font-size: 19px;
        padding: 5px;
        width: 160px;
    }
}

/* Nav Bar header  */
.nav-bar {
    overflow: hidden;
    background-color:whitesmoke;
    padding: 20px 10px;
    opacity: .9;
  }
  /* Title container in nav bar */
  .nav-bar a {
    float: left;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 18px; 
    border-radius: 4px;
  }
  /* Title text/logo */
  .nav-bar a.logo {
    font-size: 25px;
    margin-left: 30px;
  }
  /* Title on hover */
  .nav-bar a:hover {
    background-color:teal;
    font-weight: bold;
  }
  /* Title when active */
  .nav-bar a.active {
    background-color: #00a1a1;
    color: black;
    font-weight: bold;
  }
  /* nav bar, right links */
  .nav-bar-right {
    margin-top: 5px;
    margin-right: 30px;
    float: right;
  }
  .nav-bar-right a.active {
    background-color: #00a1a1;
    color: black;
    font-weight: bold;
  }

  @media screen and (max-width: 650px) {
    .nav-bar a {
      float: none;
      display: block;
      text-align: left;
    }
}