body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background: 

                url(https://wallpapercave.com/wp/wp1874169.jpg) no-repeat ;

    background-size: cover;
    image-rendering: -webkit-optimize-contrast;
}



.MenuMain{
    width: 900px;
    float:right;
    border:0px solid none;
    font-size: 20px;
    font-weight: bold;

}

.MenuMain ul li{
    width: 140px;
    float: left;
    margin: 10px auto;
    text-align: center;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
}

.MenuMain ul li a{
    text-decoration: none;
    color:white}

.MenuMain ul li:hover{
    background-color: none;
}


h1 {
    float: left;
    font-size: 20px;
    border:0px solid none;
    font-weight: bold;
    width: 140px;
    margin: 30px auto;
    text-align: center;
}
