/* Container */
.item-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display:flex;
    flex-direction: row;
    transition: all 0.3s;
}

/* Columns */
.text-grid {
    flex: 50%;
}
.image-grid {
    flex: 50%;
    position: relative;
    margin-right: 20px;
}
.image-grid img {
    width: 100%;
    position: absolute;
    max-width: 500px;
}

/* Product Description */
.product-text {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
}
.product-text h1 {
    font-weight: 200;
    font-size: 45px;
    color: #43484D;
}
.product-text h2 {
    font-weight: 200;
    font-size: 25px;
    font-style: oblique;
    color: #43484D;
}
.product-text p {
    font-size: 20px;
}

/* Product Price */
.price-grid {
    display: flex;
    align-items: center;
}
.price-grid span {
    font-size: 35px;
    font-weight: 300;
    color: #43474D;
    margin-right: 20px;
}

/* fav button */ 
.fav-button {
    background-color: #00a1a1;
    color: rgb(0, 0, 0);

    text-decoration: none;
    cursor: pointer;
    text-align: center;
    font-size: 16px;

    margin: 4px 2px;
    border: none;
    border-radius: 15px;
    padding: 20px;
}
/* fav button on hover*/ 
.fav-button:hover {
    background-color: #008d8d;
}

/* more info button */
.back-button {
    background-color: #00a1a1;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    border: none;
    border-radius: 15px;
    padding: 20px;
    text-decoration: none;
    cursor: pointer;
}
/* info button on hover */
.back-button:hover {
    background-color: #008d8d;
}

/* Responsive */
@media screen and (max-width: 1000px) {
    .image-grid, .text-grid {
        flex: 100%;
    }

}
@media screen and (max-width: 800px) {
    .text-grid, .image-grid{
        flex-direction: column;
        flex-wrap: column;
    }
}

@media screen and (max-width: 600px) {
    .item-container{
        flex-direction: column;
        flex-wrap: column;
    }
}