.fav-container {
  border-radius: 15px;
  background-color: #f1f1f1;

  margin-top: 30px;
  margin-left: 450px;
  margin-right: 450px;

  padding-top: 1px;
  padding-right: 40px;
  padding-left: 40px; 
  padding-bottom: 22px;
}
.fav-container:hover {
  background-color: #dfdfdf;

}

/* food items container*/
.fav_div_text { 
  font-size: 20px;
}
.fav_details_text { 
  font-size: 15px;
}
.fav_form{
  margin-left: 450px;
  margin-right: 450px;
}

.remove-button{
  background-color: #00a1a1;
  color: rgb(0, 0, 0);

  text-decoration: none;
  cursor: pointer;
  text-align: center;
  font-size: 16px;

  margin: 4px 2px;
  border: none;
  border-radius: 15px;
  padding: 20px;
}
.remove-button:hover {
  font-weight: bold;
}

/* Nav bar responsivness */
@media screen and (max-width: 600px) {
  .nav-bar a {
    float: none;
    display: block;
    text-align: left;
  }
  .nav-bar-right {
    float: none;
  }
}
/* Nav bar responsivness */
@media screen and (max-width: 600px) {
  .nav-bar a {
    float: none;
    display: block;
    text-align: left;
  }
  .nav-bar-right {
    float: none;
  }
}
/* Menu item text responsivness */
@media screen and (max-width: 1570px){
  .fav-container {
    margin-left: 300px;
    margin-right: 300px;
  }
}
@media screen and (max-width: 1100px){
  .fav-container {
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 700px){
  .fav-container, .fav_div_text, .fav_details_text, .h2 {
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 5px;
  } 

  /* change text on hover */
  .info-button:hover:before {
    content:"...";
  }
}