/* html body styling */
body, html {
height: 100%;
margin: 0;
font: 400 15px/1.8 "Lato", sans-serif;
color: #777;
}

/* Nav Bar header  */
.nav-bar {
overflow: hidden;
background-color: #333;
padding: 20px 10px;
}
/* Title container in nav bar */
.nav-bar a {
float: left;
color: white;
text-align: center;
padding: 16px;
text-decoration: none;
font-size: 18px; 
border-radius: 4px;
}
/* Title text/logo */
.nav-bar a.logo {
font-size: 25px;
}
/* Title on hover */
.nav-bar a:hover {
background-color: #111;
font-weight: bold;
}
/* Title when active */
.nav-bar a.active {
background-color: #f0d800;
color: black;
font-weight: bold;
}
/* nav bar, right links */
.nav-bar-right {
float: right;
}

/* more info button */
.info-button {
  background-color: #f0d800;
  border: none;
  color: rgb(0, 0, 0);
  padding: 16px 32px;
  text-align: center;
  font-size: 20px;
  margin: 4px 2px;
  transition: 0.3s;
  font-weight: normal;
  text-decoration: none;
}
/* Remove price from button */
.info-button:hover span {
  display:none;
}
/* change text on hover */
.info-button:hover:before {
  content:"More info";
}
/* info button on hover */
.info-button:hover {
  font-weight: bold;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* text container for food catagories */
.container {
  border-radius: 15px;
  background-color: #dadada;

  margin-top: 30px;
  margin-left: 450px;
  margin-right: 450px;

  padding-top: 5px;
  padding-right: 40px;
  padding-left: 40px; 
  padding-bottom: 5px;
}
/* text container on hover */
.container:hover{
  background-color: #d1d1d1;
}

/* title for catagories */
.div_title {
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  text-align: center;
  color: rgb(66, 66, 66);
}

/* span title */
.div_title span.border {
  background-color: rgb(48, 48, 48);
  opacity: 0.9;
  color: #fff;
  padding: 18px;
  font-size: 36px;
  letter-spacing: 10px;
}

/* food items container*/
.div_text { 
  color: rgb(80, 80, 80);
  font-size: 25px;
}

/* food items text */
h2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Solid border seperator*/
hr.solid {
  border-top: 2px solid #bbb;
  opacity: 0.5;
  width: 60%;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Nav bar responsivness */
@media screen and (max-width: 600px) {
  .nav-bar a {
    float: none;
    display: block;
    text-align: left;
  }
  .nav-bar-right {
    float: none;
  }
}
/* Menu item text responsivness */
@media screen and (max-width: 1450px){
  .container {
    margin-left: 300px;
    margin-right: 300px;
  }
}
@media screen and (max-width: 1100px){
  .container {
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media screen and (max-width: 700px){
  .container, .div-text, .h2 {
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 5px;
  } 

  /* change text on hover */
  .info-button:hover:before {
    content:"...";
  }
}