{% extends "layout.html" %}

{% block content %}
    <div class="nav-bar">
        <a href="index.php" class="logo">Restaurant</a>

        <div class="nav-bar-right">
            <a href="booking.php">Booking</a>
            <a href="menu.php">Menu</a>
            <a href="favs.php">Favourites</a>
            <a href="about.php">About</a>
            <a href="contact.php">Contact Us</a>
        </div>
    </div>

    </br>
    <hr class="solid">
    </br>

    <span class="caption">Oops, page not found</span>
    </br>
    </br>
    </br>
    <span class="caption-small">Return to the homepage...</span>

    </br>
    </br>
    <hr class="solid">
    </br>

    <div class="footer">
        <h2>Opening hours: Monday to Sunday 12pm - 12am</h2>
        <h3>Address: 20 Willock Road Sliema</h3>
        <h4>Telephone: 21492312</h4>
    </div>
{% endblock %}