{% extends "layout.html" %}

{% block content %}
    <div class="nav-bar">
        <a href="index.php" class="logo">Restaurant</a>

        <div class="nav-bar-right">
            <a class="active" href="booking.php">Booking</a>
            <a href="menu.php">Menu</a>
            <a href="favs.php">Favourites</a>
            <a href="about.php">About</a>
            <a href="contact.php">Contact Us</a>
        </div>
    </div>

    </br>
    <hr class="solid">
    </br>
    <span class="caption">Book a table</span>
    </br>
    </br>
    <hr class="solid">

    <form class="contact-form" action="mail_booking.php" method="POST">
        <label >Enter full name:</label>
        <input type="text" name ="name" required>

        <label for="numofpeople">Number of People:</label>
        <input type="number" name="people" id="numofpeople" min="1" max="9" required> 

        <label for="date">Choose date:</label>
        <input type="date" name="date" id="date" value="2021-01-01" required>
        
        <label for="time">Select time to book table:</label>
        <input type="time" name="time" id="time" required>
        
        <label>Enter your email:</label>
        <input type="text" name ="email" required>
        </br>

        <input type="submit" name="submit" value="Submit"  id="submit" />
    </form>
    
    </br>
    <hr class="solid">
    </br>

    <footer>
        <div class="footer">
            <h2>Opening hours: Monday to Sunday 12pm - 12am</h2>
            <h3>Address: 20 Willock Road Sliema</h3>
            <h4>Telephone: 21492312</h4>
        </div>
    </footer>

{% endblock %}