{% extends "layout.html" %}

{% block content %}
    <div class="nav-bar">
        <a href="index.php" class="logo">CompanyLogo</a>

        <div class="nav-bar-right">
            <a class="active" href="booking.php">Booking</a>
            <a href="menu.php">Menu</a>
            <a href="favs.php">Favourites</a>
            <a href="about.php">About</a>
        </div>
    </div>

    <div class="booking_form">
        <form class="book" action ="mail_booking.php" method = "post">
            <input type="text" name ="name" placeholder="Enter your full name">
            <input type="text" name ="email" placeholder="Enter your email..." required>
    
            <textarea name="message" placeholder="Any Special Requests?"></textarea>
    
            <button type="submit" value="Reservation">Make Reservation</button>
        </form>
    </div>

    </br>
    </br>
    <hr class="solid">
    </br>

    <div class="footer">
        <h2>Footer</h2>
    </div>
{% endblock %}