{% extends "layout.html" %}

{% block content %}
    <div class="nav-bar">
        <a href="index.php" class="logo">Restaurant</a>

        <div class="nav-bar-right">
            <a href="booking.php">Booking</a>
            <a class="active" href="menu.php">Menu</a>
            <a href="favs.php">Favourites</a>
            <a href="about.php">About</a>
            <a href="contact.php">Contact Us</a>
        </div>
    </div>

    <form class="search" action="search.php" method="post">
        <input type="text" name="search" placeholder="Search..">
    </form>

    <hr class="solid">
    </br>

    <span class="caption">Details</span>

    </br>
    </br>
    </br>
    <hr class="solid">

    </br>
    </br>

    {% for food in getdetails %}
        <div class="item-container">

            <!-- Image -->
            <div class="image-grid">
                <img src="{{ food.itemImage }}" alt="">
            </div>

            <div class="text-grid">
                <div class="product-text">
                    <h1>{{ food.Title }}</h1> 
                    
                    <h2>Description</h2>
                    <p>{{ food.itemDesc }}</p>

                    <h2>Ingredients</h2>
                    <p>{{ food.itemIngr }}</p> 
                    <p></p>
                </div>

                </br>
                <div class = "price-grid">
                    <span>€{{ food.Price }}</span>
                   
                </div>

                <br> <br>

                <form action="includes/php/add_fav.php" method="POST">
                    <input type="hidden" name="foodID" value="{{ food.ID }}" />
                    <input type="hidden" name="foodTitle" value="{{ food.Title }}" />
                    <input type="hidden" name="foodPrice" value="{{ food.Price }}" />
    
                    <button class="fav-button" type="submit" name="add_fav">Add to Favorites</button>
                </form>
                
                <button class="back-button" onclick="window.location.href='menu.php';">Back</button>
            </div>
        </div>

    {% endfor %}

    <div class="footer">
        <h2>Opening hours: Monday to Sunday 12pm - 12am</h2>
        <h3>Address: 20 Willock Road Sliema</h3>
        <h4>Telephone: 21492312</h4>
    </div>
{% endblock %}
