{% extends "layout.html" %}

{% block content %}
    <div class="nav-bar">
        <a href="index.php" class="logo">CompanyLogo</a>

        <div class="nav-bar-right">
            <a href="booking.php">Booking</a>
            <a href="menu.php">Menu</a>
            <a href="favs.php">Favourites</a>
            <a href="about.php">About</a>
        </div>
    </div>

    </br>
    <hr class="solid">
    </br>

    <span class="caption">Oops, email not sent</span>
    </br>
    </br>
    </br>
    <span class="caption-small">Return to Favourites page and try again...</span>

    </br>
    </br>
    <hr class="solid">
    </br>

    <div class="footer">
        <h2>Footer</h2>
    </div>
{% endblock %}