{% extends "layout.html" %}

{% block content %}
    <div class="nav-bar">
        <a href="index.php" class="logo">CompanyLogo</a>

        <div class="nav-bar-right">
            <a href="booking.php">Booking</a>
            <a href="menu.php">Menu</a>
            <a class="active" href="favs.php">Favourites</a>
            <a href="about.php">About</a>
        </div>
    </div>
    
    </br>
    <hr class="solid">
    </br>

    <span class="caption">Your Favourites</span>

    </br>
    </br>
    </br>
    <hr class="solid">

    {% for food in favfood %}
        <div class="fav-container">
            <div class="fav_div_text">
                <h2 style="text-align:left;">{{ food.Title }}
                    <span style="float:right;">
                        <a href="details.php?a={{ food.id }}" class="info-button">
                            <span>€ {{ food.Price }} </span>
                        </a> 
                    </span>
                </h2>
            </div>
            <div class="fav_details_text">
                <p style="text-align:left;">{{ food.itemIngr }}</p>

                <form action= "includes/php/remove_fav.php" method="POST">
                    <input type="hidden" name="foodID" value="{{ food.id }}" /> 
                    <button class="remove-button" type="submit" name="remove_fav">Remove Item</button>
                    <br>                        
                </form> 
            </div>
        </div>
    {% endfor %}

    </br>
    <hr class="solid">
    </br>
    
    <!-- Remove all button -->
    <form class="fav_form" action= "includes/php/remove_all.php" method="POST">
        <form action="" method="POST">
            <input type="submit" value="Remove All"/>
        </form>
        <br>                        
    </form>

    <hr class="solid">

    <!-- Share favs list Text -->
    <div class="contact-text">
        <p style="font-size: 30px; font-weight: bold;" >Share your list with anyone: </p>
        <p style="font-size: 20px;">Enter the recipient's email and an optional message...</p>
    </div>
    
    </br>

    <!-- Share list form -->
    <div class="fav_form">
        <form class="fav" action="mail_info.php" method="POST">
            <input type="text" name="email" placeholder="Email" required /> </br>
            <input type="hidden" name="foodID" value="{{ food.ID }}" />

            <input type="submit" value="Share"/>
        </form>
    </div>

    </br>
    <hr class="solid">
    </br>
    </br>

    <div class="footer">
        <h2>Footer</h2>
    </div>
{% endblock %}