<!DOCTYPE html>
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Restaurant</title>

        <!-- Main Page Styling -->
        <link rel="stylesheet" href="includes/css/index.css">
        <!-- Menu Styling -->
        <link rel="stylesheet" href="includes/css/menu.css">
        <!-- Details Page Styling -->
        <link rel="stylesheet" href="includes/css/details.css">
        <!-- Favs Page Styling -->
        <link rel="stylesheet" href="includes/css/favs.css">
        <!-- About us Page Styling -->
        <link rel="stylesheet" href="includes/css/about.css">
        <!-- Contact Form Page Styling -->
        <link rel="stylesheet" href="includes/css/contactform.css">

    </head>
    
    <body>
        
        {% block content %}
        {% endblock %}

    </body>
</html>
